.mdl-layout__header {
    background-color: #128dc7;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, 
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, 
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label,
h4, .mdl-textfield > label {
    color: #c71c80;
}

.mdl-textfield.is-invalid .mdl-textfield__input{
    border-color: #c71c80;
}

.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-upgraded.is-focused > input.mdl-textfield__input {
    border-bottom: 2px solid #c71c80;
}

.mdl-card__title-text {
    color:  #FFFFFF;
}

.mdl-button.mdl-button--colored, .adv-purple, .menubtn {
    color:  #FFFFFF;
    background-color: #c71c80;
}

.mdl-switch.is-checked .mdl-switch__thumb,
.mdl-switch__ripple-container .mdl-ripple {
    background: #c71c80;
}

.mdl-switch.is-checked .mdl-switch__track {
    background: rgba(199,28,128,.5);
}
